!!! XML
!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(http-equiv="Content-Style-Type" content="text/css")
    %meta(http-equiv="Content-Script-Type" content="text/javascript")
    %meta(name="description" content="鍵生成")
    %meta(name="keywords" content="Public key,Private key,RSA")
    %title FJORD KEYS
    %link(href="style.css" rel="stylesheet" type="text/css")
    %link(rel="shortcut icon" href="/favicon.ico")
  %body
    #main
      %h1
        %a(href="/") FJORD KEYS
      = yield
    #footer
      %p.copyright
        Copyright &copy; <a href="http://fjord.jp">FJORD, LLC</a> Created by <a href="http://twitter.com/machida">@machida</a> and <a href="http://twitter.com/komagata">@komagata</a>
